@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@media screen and (min-width: 1400px) {
    

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(180deg, #CF2330 0%, #620511 100%);
}

header.head {
    display: flex;
    position: relative;
}

header.head>svg {
    position: absolute;
    left: 1.5%;
    padding: 1.5% 0 0 0;
}

header.head>nav.Navigationbar {
    position: absolute;
    text-align: center;
    align-items: center;
}

.ItemsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    display: flex;
    padding: 1% 0 0 0;
    left: 40%;
}

.ItemsContainer a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
    text-decoration: none;
    list-style: none;
}

.LoginRegister {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    display: flex;
    padding-top: 2%;
    padding-right: 3%;
}

.LoginRegister> a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
    word-wrap: break-word;
}

.container {
    width: 386px;
    left: 48px;
    top: 280px;
    position: absolute;
}

.inner-container {
    width: 386px;
    height: 319px;
    position: absolute;
}

.header {
    width: 386px;
    height: 190px;
    position: absolute;
}

.header-text {
    left: 0px;
    top: 0px;
    position: absolute;
    color: white;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    word-wrap: break-word;
}

.sub-header-text {
    left: 0px;
    top: 136px;
    position: absolute;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    word-wrap: break-word;
}

.features-container {
    left: 0px;
    top: 238px;
    position: absolute;
    padding: 0 0 0 5%;
}

.features-list {
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    padding: 0;
    /* حذف padding پیش‌فرض */
}

.features-list li {
    margin-bottom: 10px;
    /* فاصله بین آیتم‌های لیست */
}

.contact-container {
    position: absolute;
    top: 70%;
    left: 2%;
    display: inline-flex;
    padding: 24px 96px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: #FFF;
}

.contact-container .contact-title {
    color: #620511;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main>svg {
    position: absolute;
    top: 15%;
    width: 100%;
}

div.stay {
    position: absolute;
    left: 34.2%;
    top: 10%;
    display: flex;
    width: 145px;
    height: 132px;
    padding: 16px 15px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(108, 108, 108, 0.50) 100%);
    backdrop-filter: blur(5px);
}

div.stay>p:nth-child(1) {
    position: absolute;
    top: 2rem;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

div.stay>p:nth-child(2) {
    width: 115px;
    height: 72px;
    top: 4rem;
    position: absolute;
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-container {
    width: 145px;
    height: 86px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    left: 57%;
    top: 640px;
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(107.69, 107.69, 107.69, 0.50) 100%);
    border-radius: 24px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.card-content {
    flex: 1 1 0;
    align-self: stretch;
    position: relative;
}

.card-title {
    left: 1.7rem;
    position: absolute;
    align-content: center;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word;
}

.card-description {
    width: 115px;
    left: 1rem;
    top: 2rem;
    position: absolute;
    text-align: center;
    color: rgba(255, 255, 255, 0.70);
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.check-up-container {
    width: 145px;
    height: 96px;
    padding: 16px 15px;
    left: 80%;
    top: 436px;
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(107.69, 107.69, 107.69, 0.50) 100%);
    border-radius: 24px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.check-up-content {
    flex: 1 1 0;
    align-self: stretch;
    position: relative;
}

.check-up-title {
    left: 1.8rem;
    top: 0px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word;
}

.check-up-description {
    width: 115px;
    left: 1rem;
    top: 28px;
    position: absolute;
    text-align: center;
    color: rgba(255, 255, 255, 0.70);
    font-size: 12px;
    font-weight: 400;
    word-wrap: break-word;
}

.right-atrium-container {
    height: 82px;
    left: 69.5%;
    top: 240px;
    position: absolute;
}

.right-atrium-title {
    width: 138px;
    left: 0;
    top: 0px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.right-atrium-description {
    width: 172px;
    left: 0px;
    top: 28px;
    position: absolute;
    color: white;
    font-size: 12px;
    font-weight: 300;
    word-wrap: break-word;
}

.right-ventricle-container {
    height: 100px;
    /* ارتفاع */
    left: 63.3%;
    /* موقعیت افقی */
    top: 440px;
    /* موقعیت عمودی */
    position: absolute;
    /* موقعیت مطلق */
}

.right-ventricle-title {
    left: 0px;
    /* موقعیت افقی عنوان */
    top: 0px;
    /* موقعیت عمودی عنوان */
    position: absolute;
    /* موقعیت مطلق */
    text-align: center;
    /* تراز متن */
    color: white;
    /* رنگ متن */
    font-size: 16px;
    /* اندازه فونت */
    /* خانواده فونت */
    font-weight: 700;
    /* ضخامت فونت */
    word-wrap: break-word;
    /* شکستن کلمات */
    width: 155px;
}

.right-ventricle-description {
    width: 205px;
    /* عرض توضیحات */
    left: 0px;
    /* موقعیت افقی توضیحات */
    top: 28px;
    /* موقعیت عمودی توضیحات */
    position: absolute;
    /* موقعیت مطلق */
    color: white;
    /* رنگ متن */
    font-size: 12px;
    /* اندازه فونت */
    /* خانواده فونت */
    font-weight: 400;
    /* ضخامت فونت */
    word-wrap: break-word;
    /* شکستن کلمات */
}

.my-div {
    position: absolute;
    background: #C5202D;
    width: 100%;
    height: 140px;
    bottom: 0;
    gap: 0px;
    opacity: 0px;
}

.container2 {
    position: relative;
    top: 50px;
    left: 300px;
}

.main-text {
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
}

.sub-text {
    left: 0;
    top: 38px;
    position: absolute;
    color: white;
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
}

.text-container {
    position: relative;
    top: 50px;
    left: 850px;
}

.title {
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
}

.description {
    left: 0;
    top: 38px;
    position: absolute;
    color: white;
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
}

.statistics-container {
    position: relative;
    top: 50px;
    left: 1400px;
}

.statistic-title {
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
}

.statistic-description {
    left: 0;
    top: 38px;
    position: absolute;
    color: white;
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
    text-decoration: dotted;
}

.statistics-container {
    position: relative;
}

.statistic-title {
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
}

.statistic-description {
    left: 0;
    top: 38px;
    position: absolute;
    color: white;
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
}

img.vector1{
    position: absolute;
    top: 35.5%;
    left: 62.3%;
}

img.vector2{
    position: absolute;
    top: 55.3%;
    left: 62.2%;
}
}