@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: Poppins;
    background: rgb(207,35,32);
    background: linear-gradient(180deg, rgba(207,35,32,1) 0%, rgba(128,13,25,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
footer{
    background-color: #C5202D;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.box1{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
}
.box2{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
}
.box3{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
}

/* ///////////////////////////////// */
@media only screen and (max-width: 2000px) {
    .imgbg{
        width: 800px;
       
    }
    .texttop{
        margin-left: -250px;
    }
    .textdown{
        margin-left: -300px;
    }
    .box1{
        margin-left: 600px;
    }
    .box2{
        margin-top: 600px;
        margin-left: -430px;
    }
    .box3{
        right: 1%;
        top: 40%;
    }
  }
  @media only screen and (max-width: 1420px) {
    .imgbg{
        width: 800px;
       
    }
    .texttop{
        margin-left: -200px;
    }
    .textdown{
        margin-left: -210px;
    }
    .box1{
        margin-left: 470px;
    }
    .box2{
        margin-top: 600px;
        margin-left: -300px;
    }
    .box3{
        right: 1%;
        top: 40%;
    }
  }
  @media only screen and (max-width: 1220px) {
    .imgbg{
        width: 800px;
       
    }
    .texttop{
        margin-left: -50px;
    }
    .textdown{
        margin-left: -100px;
    }
    .box1{
        margin-left: 340px;
    }
    .box2{
        margin-top: 600px;
        margin-left: -290px;
    }
    .box3{
        right: 1%;
        top: 40%;
    }
  }
  @media only screen and (max-width: 942px) {
    .lefttext .h{
        font-size: 20px;
    }
    .imgbg{
        width: 800px;
       
    }
    .texttop{
        margin-left: -30px;
    }
    .textdown{
        margin-left: -90px;
    }
    .box1{
        margin-left: 200px;
    }
    .box2{
        margin-top: 400px;
        margin-left: -190px;
    }
    .box3{
        right: 1%;
        top: 40%;
    }
  }
  @media only screen and (max-width: 788px) {
    .imgbg{
        width: 700px;
       
    }
    .texttop{
        margin-left: -90px;
    }
    .textdown{
        margin-left: -110px;
    }
    .box1{
        width: 250px;
        margin-left: -3%;
        height: 150px;
        margin-top: 70%;
    }
    .box2{
        width: 250px;
        margin-left: -470px;
        height: 150px;
        margin-top: 70%;
    }
    .box3{
        width: 250px;
        height: 150px;
        margin-top: 30%;
    }
  }

