@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: Poppins;
    background: rgb(207,35,32);
    background: linear-gradient(180deg, rgba(207,35,32,1) 0%, rgba(128,13,25,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
footer{
    background-color: #C5202D;
    position: fixed;
    bottom: 0;
    width: 100%;
}
