@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: rgb(207,35,48);
    background: linear-gradient(180deg, rgba(207,35,48,1) 0%, rgba(98,5,17,1) 100%);
    background-repeat: no-repeat;
}
.box{
   
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.3px);
    -webkit-backdrop-filter: blur(17.3px);
}